.carousel-inner > .carousel-item > img {
  margin: 0 auto;
  max-width: 400px;
}
.shop {
  max-width: 200px;
  margin: 15px auto;
}
#search {
  margin-right: 15px;
  border-radius: 0px 0.25rem 0.25rem 0px;
}
